{{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
{{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
{{ $section_count := len $section }}
{{ $n_posts := $.Param "recent_posts_number" | default 12 }}
<div class="col-lg-9 col-md-8 col-12 float-md-left pl-md-2">
    <div class="UnderlineNav width-full user-profile-nav js-sticky top-0">
        <nav class="UnderlineNav-body" data-pjax aria-label="User profile">
            <a aria-current="page" class="UnderlineNav-item mr-0 mr-md-1 mr-lg-3 selected " href="{{ .Site.BaseURL }}">
                The Team
            </a>
            <a class="UnderlineNav-item mr-0 mr-md-1 mr-lg-3 " href="{{ absURL "about/" }}">
                About
            </a>
        </nav>
    </div>
    <div class="position-relative">
        <div class="mt-4">
            <div class="js-pinned-items-reorder-container">
                <h2 class="f4 mb-2 text-normal">
                </h2>

                <ol class="d-flex flex-wrap list-style-none gutter-condensed mb-4 js-pinned-items-reorder-list">
                    {{ range (first $n_posts $section) }}
                    <li class="col-12 col-md-6 col-lg-6 mb-3 d-flex flex-content-stretch">
                        <div
                            class="Box pinned-item-list-item d-flex p-3 width-full js-pinned-item-list-item public source  sortable-button-item">
                            <div class="pinned-item-list-item-content" name="pinned-post">
                                <div class="d-flex width-full flex-items-center position-relative">
                                    <a itemprop="image" class="u-photo d-block position-relative" aria-hidden="true"
                                    href="{{ .Permalink  }}">
                                    <img alt="Developer" width="64" height="64"
                                        class="rounded-2" src="http://www.makejarnotwar.com/{{ .Params.photo }}" />
                                    </a>                                    
                                    <a href="{{ .Permalink }}" class="text-bold flex-auto min-width-0 ">
                                        <span class="repo js-pinnable-item" title="{{ .Title }}">{{ .Title }}</span>
                                    </a>
                                </div>
                                {{ .Summary | safeHTML }}
                                <div class="f6 text-gray mt-2">
                                    Updated <relative-time datetime="{{ .PublishDate.Format "2006-01-02" }}"
                                        class="no-wrap" title="Modify at {{ .Lastmod.Format "2006/01/02" }}">
                                        {{ .PublishDate.Format "January 2, 2006" }}</relative-time>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{ end }}
                </ol>
            </div>
        </div>
        <div id="pinned-items-modal-wrapper"></div>
    </div>
</div>
</div>
